<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Forum</display-name>
  <welcome-file-list>
    <welcome-file>HomepageServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomepageServlet</display-name>
    <servlet-name>HomepageServlet</servlet-name>
    <servlet-class>forum.HomepageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomepageServlet</servlet-name>
    <url-pattern>/HomepageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForumServlet</display-name>
    <servlet-name>ForumServlet</servlet-name>
    <servlet-class>forum.forumServlets.ForumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumServlet</servlet-name>
    <url-pattern>/ForumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThreadServlet</display-name>
    <servlet-name>ThreadServlet</servlet-name>
    <servlet-class>forum.threadServlets.ThreadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThreadServlet</servlet-name>
    <url-pattern>/ThreadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostServlet</display-name>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>forum.postServlets.PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/PostServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>forum.InitListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>forum.userServlets.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>forum.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForumCreateServlet</display-name>
    <servlet-name>ForumCreateServlet</servlet-name>
    <servlet-class>forum.forumServlets.ForumCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumCreateServlet</servlet-name>
    <url-pattern>/ForumCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThreadCreateServlet</display-name>
    <servlet-name>ThreadCreateServlet</servlet-name>
    <servlet-class>forum.threadServlets.ThreadCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThreadCreateServlet</servlet-name>
    <url-pattern>/ThreadCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostCreateServlet</display-name>
    <servlet-name>PostCreateServlet</servlet-name>
    <servlet-class>forum.postServlets.PostCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostCreateServlet</servlet-name>
    <url-pattern>/PostCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>forum.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForumEditServlet</display-name>
    <servlet-name>ForumEditServlet</servlet-name>
    <servlet-class>forum.forumServlets.ForumEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumEditServlet</servlet-name>
    <url-pattern>/ForumEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThreadEditServlet</display-name>
    <servlet-name>ThreadEditServlet</servlet-name>
    <servlet-class>forum.threadServlets.ThreadEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThreadEditServlet</servlet-name>
    <url-pattern>/ThreadEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostEditServlet</display-name>
    <servlet-name>PostEditServlet</servlet-name>
    <servlet-class>forum.postServlets.PostEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostEditServlet</servlet-name>
    <url-pattern>/PostEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostDeleteServlet</display-name>
    <servlet-name>PostDeleteServlet</servlet-name>
    <servlet-class>forum.postServlets.PostDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostDeleteServlet</servlet-name>
    <url-pattern>/PostDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThreadDeleteServlet</display-name>
    <servlet-name>ThreadDeleteServlet</servlet-name>
    <servlet-class>forum.threadServlets.ThreadDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThreadDeleteServlet</servlet-name>
    <url-pattern>/ThreadDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForumDeleteServlet</display-name>
    <servlet-name>ForumDeleteServlet</servlet-name>
    <servlet-class>forum.forumServlets.ForumDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumDeleteServlet</servlet-name>
    <url-pattern>/ForumDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserCreateServlet</display-name>
    <servlet-name>UserCreateServlet</servlet-name>
    <servlet-class>forum.userServlets.UserCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCreateServlet</servlet-name>
    <url-pattern>/UserCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManagementServlet</display-name>
    <servlet-name>UserManagementServlet</servlet-name>
    <servlet-class>forum.userServlets.UserManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManagementServlet</servlet-name>
    <url-pattern>/UserManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserEditServlet</display-name>
    <servlet-name>UserEditServlet</servlet-name>
    <servlet-class>forum.userServlets.UserEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEditServlet</servlet-name>
    <url-pattern>/UserEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDeleteServlet</display-name>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>forum.userServlets.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/UserDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>